/* .bg-fePrimary-500 {
    --tw-bg-opacity: 1;
    background-color: black !important;
}
.bg-fePrimary-600 {
    --tw-bg-opacity: 1;
    background-color: green !important;
}
.bg-fePrimary-700 {
    --tw-bg-opacity: 1;
    background-color: green !important;
}
.bg-fePrimary-300 {
    --tw-bg-opacity: 1;
    background-color: green !important;
}

.bg-fePrimary-500.focus\:outline-none:focus {
    box-shadow: 0 0 0 3px rgba(218, 157, 25, 0.5) !important;
  } */


